{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

<div class="card text-center">
    <div class="card-body">

    <h1 class="card-title">Hello {{ app.user.username }}! ✅</h1>
        <p class="card-description">Role utilisateur :{{app.user.roles[0]}} </p>
        <p class="card-description">mot de passe :{{app.user.password}} </p>
                    
    <a href="{{ path('app_logout') }}" class="btn btn-danger">Se déconnecter</a>
</div>
{% endblock %}
