{% extends 'base.html.twig' %}

{% block title %}Blog Symfony{% endblock %}

{% block body %}

<div class="card text-center">
    <div class="card-body">
        <h1 class="card-title">Hello {{ app.user.username }}! ✅</h1>
        <p class="card-description"> Bienvenue sur mon premier blog en Symfony </p>

            <a href="{{ path('app_logout') }}" class="btn btn-danger">Se déconnecter</a>
    </div>
</div>
{% endblock %}  
