{% extends 'base.html.twig' %}

{% block title %}Blog Symfony{% endblock %}

{% block body %}

<div class="container text-center mt-xl-6 mt-md-2 mt-lg-5 ">
    <div class="card-body mt-xl-6">
        <h1 class="card-title mt-xl-6 mt-md-2 mt-lg-5">Hello {{ app.user.username }}! ✅</h1>
        <p class="card-description mt-xl-6 mt-md-2 mt-lg-5"> Bienvenue sur mon premier blog en Symfony </p>
        <a href="{{ path('app_logout') }}" class="btn btn-danger">Se déconnecter</a>
    </div>
</div>
{% endblock %}  