{% extends 'base.html.twig' %}

{% block title %}New Articles{% endblock %}

{% block body %}
    <div class="text-center">    
        <h1>Create new Articles</h1>
        <h2>Ici créez votre article</h2>
        {{ include('articles/_form.html.twig') }}
    </div>
    <div class="text-center">
        <a href="{{ path('app_articles_index') }}" class="btn btn-danger">back to list</a>
    </div>
{% endblock %}
