{% extends 'base.html.twig' %}

{% block title %}Edit comments{% endblock %}

{% block body %}
    <h1>Edit comments</h1>

    {{ include('comments/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_Comments_index') }}">back to list</a>

    {{ include('comments/_delete_form.html.twig') }}
{% endblock %}
