{% extends 'base.html.twig' %}

{% block title %}New Comments{% endblock %}

{% block body %}
    <h1>Commentaires</h1>
    <h2>Ici créez votre commentaire</h2>


    {{ include('comments/_form.html.twig') }}

    <a href="{{ path('app_Comments_index') }}">back to list</a>
{% endblock %}
